body {
	background-image: url(background1.jpg);
	background-size: cover;
}


#container_center {
	font-family: 'Work Sans', sans-serif;
	background-color: rgb(214, 212, 212);
	border-radius: 5px;
	width: 65%;
	height: fill;
	display: flex;
    align-items: center;
	justify-content: center;
	margin : 0 auto;
	text-align: center;
	opacity: 0.96;
}

ul.breadcrumb {
  padding: 10px 26px;
  list-style: none;
  background-color: rgb(244, 66, 113);
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

#title {
	font-family: 'Lobster', cursive;
	font-size: 32px;
}

#animation_banner {
	width : 500px;
	height: 100px;
	background-color: rgb(242, 247, 106);
	animation-name: name_animation;
	animation-duration: 3s;

}

@keyframes name_animation {
	from {background-color: rgb(242, 247, 106);}
	to {background-color: rgb(106, 247, 221);}
}

th, td {
	padding: 1em;
    text-align: left;
    padding: 16px;
    background: #ddd;
    border-bottom: 2px solid white;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}


#logo {
	width: 90px;
	height: 90px;
	
}

@media only screen and (max-width: 600px) {
  #container_center {
    width: 100%;
  }
}